body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #f4511e;
}

h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
  }
  h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 30px;
  }  

.navbar {
      background-color: #800E13 !important;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-color: #800E13 !important;
      font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #4F5D75 !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }

  .jumbotron {
      background-color: #800E13 !important;
      color: #ffffff !important;
      font-family: Montserrat, sans-serif;
  }

footer,
push {
  text-align: center;
  height: 75px;
  background-color: #800E13;
  color: #ffffff;
  padding-top: 10px;
}
.jumbo-text {
  text-align: center;
  padding-bottom: 10px;
}
.panel-footer,
push {
  text-align: center;
}

.panel-body{
    font-size: 20px;
    text-align: center;
}
.panel {
      border: 1px solid #f4511e;
      border-radius:0 !important;
      transition: box-shadow 0.5s;
  }
  .panel:hover {
      box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }

  .panel-heading{
    background-color: #800E13 !important;
    color: #FDFDFF !important;
    text-align: center;
    font-size: 25px;
  }

.container-fluid bg-grey{
  background-color: blue !important;
}
